    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Atención!</h5>
        <button type="button" class="close" (click)="modal.dismiss('0')" data-bs-dismiss="modal" aria-label="Close"  >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Su sesión ha finalizado</strong></p>  
  <span class="text-danger">¿desea continuar? {{ countdown }} 

  </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('0')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('1')">Aceptar</button>
      </div>
    </div>
